# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo

# ===========================
# Odoo
# ===========================
*.log

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Docker Data
# ===========================
postgres-data/
odoo-data/

# ===========================
# Temporary
# ===========================
*.swp
*.tmp

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db